#root {
  max-width: 1280px;
  margin: 0 0;
  padding: 2rem;
  text-align: center;
}

.box {
  border-radius: 5px;
  border: 1px solid #EFF0F4;
}

main.playlist-dashboard-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #323441;
  margin-left: 20em;
  color: #fff;
  padding: 2rem;
  width: 110em;

  section.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
    
    div.current-playlist {
      width: 20em;
      height: 40em;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 1em;
    }

    div.playlist-visualizer {
      width: 60em;
      height: 40em;
      display: flex;

      section.visualizer-content {
        border: 1px solid white;
        height: 30em;
        width: 60em;

        div.three-d-viz-canvas {
          border: 1px solid cyan;
          height: 50em;
          width: 60em;

          div > canvas.three-dim-viz-canvas {
            height: 50em;
            width: 92em;
            margin-left: -16em;
          }
        }
      }
    }
    
  }
  section.other-playlists {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 81em;
    overflow-x: scroll;

    div.card-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      overflow-x: scroll;
      height: 15em;

      div.playlist-card {
        height: 12em;
        width: 18em;
        cursor: pointer;
        margin-left: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

div.visualizer-nav {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style:none;
  }
}

.loading {
  width: 5em;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(0deg, #1a1a1a 50%, #AC008A 100%);
  animation: spin 1s linear infinite;
}

.inner-circle {
  width: 90%;
  height: 90%;
  background-color: #1a1a1a;
  border-radius: 50%;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}