#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main.playlist-dashboard-main {
  border: 1px solid pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a;
  color: #fff;
  padding: 2rem;
  width: 80em;

  section.main-content {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    div.current-playlist {
      border: 1px solid blue;
      width: 20em;
      height: 40em;
    }

    div.playlist-visualizer {
      border: 1px solid yellow;
      width: 60em;
      height: 40em;
      display: flex;
    }
    
  }
  section.other-playlists {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    overflow-x: scroll;

    div.card-container {
      border: 1px solid orange;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      overflow-x: scroll;

      div.playlist-card {
        border: 1px solid purple;
        height: 10em;
        width: 10em;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

.loading {
  width: 5em;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(0deg, #1a1a1a 50%, #AC008A 100%);
  animation: spin 1s linear infinite;
}

.inner-circle {
  width: 90%;
  height: 90%;
  background-color: #1a1a1a;
  border-radius: 50%;
}